@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');;

.film-card {
  display: flex;
  justify-content: center;
  height: 430px;
  margin-bottom: 30px;
  width: 600px;
  font-family: Roboto , sans-serif;
}

.film-card-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.film-card h1 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.film-card h2 {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.film-card h3 {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  overflow-y: scroll;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 150px;
  padding: 10px
}

.film-card p {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.people-card {
  position: relative;
  overflow-y: scroll left;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 250px;
  /* background-color: blueviolet; */
}

.people-card h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

.nav-abas {
  position: relative;
  width: 100%;
  /* border: 1px solid #b1c2be;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
}

.nav-abas ul {
  list-style: none;
}

.nav-abas ul li {
  float: left;
}

.nav-abas label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-wrap: nowrap;
  text-align: center;
  width: 137px;
  margin: 0;
  padding: 15px;
  background-color: rgb(176, 176, 255);
  color: rgb(116, 116, 116);
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.aba:checked ~ label {
  background-color: aquamarine;
}

.aba:hover ~ label {
  letter-spacing: 6px;
  font-weight: 700;
}

.aba {
  display: none;
}

.content {
  border-top: 5px solid aquamarine;
  display: none;
  position: absolute;
  width: 350px;
  left: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.content img {
  width: 250px;
}
.content p {
  width: 250px;
}

.aba:checked ~ .content {
  display: flex;
  width: 500px;
  height: 350px;
}

/* MOBILE */

@media (max-width: 800px) {
  .film-card {
    margin-bottom: 0;
    margin: auto;
    align-content: center;
  }

  .film-card h2 {
    font-size: 10px;
  }
  
  .people-card {
    width: 11em;
  }
  
  .people-card h1 {
    font-size: 12px;
  }
  
  .nav-abas {
    width: 100%;
    margin-bottom: 2em;
    align-content: center;
    align-items: center;
    left: 5em;
  }
  
  .nav-abas label {
    width: 9em;
  }
  
  .content {
    width: 90%;
  }
  
  .content img {
    width: 12em;
  }

  .content p {
    width: 10em;
  }
  
  .aba:checked ~ .content {
    display: flex;
    align-content: center;
    width: 22.5em;
    height: 20em;
  }
}

@media (max-width: 600px) {
  .film-card {
    margin-bottom: 0;
    margin: auto;
    align-content: center;
    height: 22em;
  }

  .nav-abas {
    left: 2em;
    margin-bottom: 0;
  }

  .nav-abas label {
    width: 7.2em;
    font-size: 9px;
    letter-spacing: 3px;
  }

  .aba:hover ~ label {
    letter-spacing: 4px;
    font-weight: 700;
  }

  .content img {
    width: 9em;
  }

  .film-card h1 {
    font-size: 12px;
    margin-bottom: 1px;
  }

  .film-card h2 {
    font-size: 9px;
    margin-bottom: 1px;
  }

  .film-card p {
    font-size: 9px;
    margin-bottom: 1px;
    text-align: center;
    margin-left: 2em;
  }
  
  .people-card {
    width: 9em;
  }
 
  .content p {
    width: 9em;
  }
  
  .aba:checked ~ .content {
    width: 17.7em;
    height: 16em;
  }
}