.filters {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters label {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.filters input {
  width: 300px;
  height: 30px;
  border: 1px solid rgb(186, 185, 185);
  border-radius: 5px;
}

.seach-rate p {
  font-weight: 100;
}

.seach-rate input {
  width: 40px;
  text-align: center;
  margin-left: 10px;
  height: 25px;
  border: 1px solid rgb(186, 185, 185);
  border-radius: 5px;
}

.seach-rate select {
  width: 85px;
  color: gray;
  text-align: center;
  margin-left: 10px;
  height: 30px;
  border: 1px solid rgb(186, 185, 185);
  border-radius: 5px;
}

.filters button {
  margin: 10px;
  background-color: rgb(176, 176, 255);
  border: none;
  width: 65px;
  height: 30px;
  border-radius: 5px;
  color: white;
}

/* MOBILE */

@media (max-width: 800px) {
  .filters {
    width: 100vw;
    height: 10em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .filters label {
    margin-left: 10px;
  }
  
  .filters input {
    width: 15em;
  }
  
  .seach-rate input {
    width: 40px;
    text-align: center;
    margin-left: 10px;
    height: 25px;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 5px;
  }
}

@media (max-width: 600px) {
  .filters p {
    font-size: 10px;
  }
}
